# --- PyTorch ---
torch>=2.1.0
torchvision>=0.16.0

# --- Computer Vision ---
opencv-python
Pillow

# --- Data ---
numpy
pandas
tqdm
requests

# --- Machine Learning ---
scikit-learn

# --- TensorFlow / Keras ---
tensorflow==2.16.1
keras==3.0.0

# --- Visualización ---
matplotlib
